In [ ]:
#1.Write a Python script to sort (ascending and descending) a dictionary by value.
d={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
dict(sorted(d.items(),reverse=True,key=lambda x:x[1]))

{'suraj': 32, 'sanjeev': 15, 'ravi': 10, 'rajnish': 9, 'yash': 2}

In [ ]:
#2 Write a Python script to add a key to a dictionary.
d = {0:10, 1:20}
d[2]=30
print(d)

{0: 10, 1: 20, 2: 30}

In [ ]:
#2a. Write a Python script to add a key to a dictionary.
d = {0:10, 1:20}
d.update({2:30})
print(d)

{0: 10, 1: 20, 2: 30}

In [ ]:
#3. Write a Python script to concatenate the following dictionaries to create a new one.
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4={}
for i in (dic1,dic2,dic3):
  dic4.update(i)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1

{1: 10, 2: 20, 3: 30, 4: 40}

In [ ]:
#4. Write a Python script to check whether a given key already exists in a dictionary.
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
int(input()) in d

2

True

In [ ]:
#5. Write a Python program to iterate over dictionaries using for loops.
d = {'x': 10, 'y': 20, 'z': 30}
for i in d:
  print(i,d[i])

x 10
y 20
z 30

In [ ]:
#6 Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
#Sample Dictionary ( n = 5) :
#Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
d={}
for i in range(1,6):
  d.update({i:i**2})
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#7. Write a Python script to print a dictionary where the keys are numbers between 1 and 15
#(both included) and the values are the square of the keys.
#Sample Dictionary
#{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
d={}
for i in range(1,16):
  d.update({i:i**2})
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
#8. Write a Python script to merge two Python dictionaries.
d1 = {'a': 100, 'b': 20}
d2 = {'x': 300, 'y': 200}
d3={}
for i in (d1,d2):
  d3.update(i)
print(d3)

{'a': 100, 'b': 20, 'x': 300, 'y': 200}

In [ ]:
dx = {'a': 100, 'b': 200}
dy = {'x': 300, 'y': 200}
dy.update(dx)

In [ ]:
#9. Write a Python program to iterate over dictionaries using for loops.
d = {'Red': 1, 'Green': 2, 'Blue': 3}
for i in d:
  print(i,d[i])

Red 1
Green 2
Blue 3

In [ ]:
#10. Write a Python program to sum all the items in a dictionary.
m = {'data1':100,'data2':-54,'data3':247}
s=0
for i in m.values():
  s=s+i
print(s)

293

In [ ]:
#11. Write a Python program to multiply all the items in a dictionary.
import numpy as np
m = {'data1':100,'data2':-54,'data3':247}
p=1
for i in m.values():
  p=p*i
print(p)

-1333800

In [ ]:
#12. Write a Python program to remove a key from a dictionary.
m = {'a':1,'b':2,'c':3,'d':4}
m.popitem()

('d', 4)

In [ ]:
#13. Write a Python program to map two lists into a dictionary.
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']
dict(zip(keys,values))

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [ ]:
#14. Write a Python program to sort a given dictionary by key.
color_dict = {'red':'#FF0000',
          'green':'#008000',
          'black':'#000000',
          'white':'#FFFFFF'}
dict(sorted(color_dict.items(),key=lambda x:x[0]))

{'black': '#000000', 'green': '#008000', 'red': '#FF0000', 'white': '#FFFFFF'}

In [ ]:
#15. Write a Python program to get the maximum and minimum values of a dictionary.
my_dict = {'x':500, 'y':5874, 'z': 560}
print(max(my_dict.items(),key=lambda x:x[1]))
print(min(my_dict.items(),key=lambda x:x[0]))

('y', 5874)
('x', 500)

In [ ]:
#16. Write a Python program to get a dictionary from an object's fields.
class new:
  def __init__(self):
    self.x="sushil"
    self.y=32
    self.roll=600

In [ ]:
t=new()
t.__dict__

{'x': 'sushil', 'y': 32, 'roll': 600}

In [ ]:
#17. Write a Python program to remove duplicates from the dictionary.
st = {'id1':
   {'name': ['Sara'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id2':
  {'name': ['David'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id3':
    {'name': ['Sara'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id4':
   {'name': ['Surya'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
}
d={}
for i,j in st.items():
  if j not in d.values():
    d.update({i:j})
print(d)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [ ]:
#18. Write a Python program to check if a dictionary is empty or not.
d={}
bool(d)

False

In [ ]:
#19. Write a Python program to combine two dictionary by adding values for common keys.
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d={}
for i,j in d1.items():
  for x,y in d2.items():
    if i==x:
      d[i]=j+y
    else:
      d[x]=y
      d[i]=j
print(d)

{'a': 300, 'b': 200, 'd': 400, 'c': 300}

In [ ]:
#20. Write a Python program to print all distinct values in a dictionary.
S=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
l=[]
for i in S:
  for j in i.values():
    if j not in l:
      l.append(j)
l

['S001', 'S002', 'S005', 'S009', 'S007']

In [ ]:
#21. Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary.
S={'1':['a','b'], '2':['c','d']}

for i in S['1']:
  for j in S['2']:
    print(i+j)

ac
ad
bc
bd

In [ ]:
#22. Write a Python program to find the highest 3 values of corresponding keys in a dictionary.
m = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}
dict(sorted(m.items(),reverse=True,key=lambda x:x[1])[:3]).keys()

dict_keys(['b', 'e', 'c'])

In [ ]:
#24. Write a Python program to create a dictionary from a string.
#Note: Track the count of the letters from the string.
s='w3resource'
import collections as c
c.Counter(s)

Counter({'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1})

In [ ]:
#25 Write a Python program to print a dictionary in table format.
m={'C1':[1,2,3],'C2':[5,6,7],'C3':[9,10,11]}
import pandas as pd
pd.DataFrame(m)

   C1  C2  C3
0   1   5   9
1   2   6  10
2   3   7  11

In [ ]:
#27. Write a Python program to convert a list into a nested dictionary of keys.
n=[1, 2, 3, 4]
k=d={}
for i in n:
  d[i]={}
  d=d[i]
print(k)

{1: {2: {3: {4: {}}}}}

In [ ]:
#28. Write a Python program to sort a list alphabetically in a dictionary.
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
d={}
for i in num:
  d[i]=sorted(num[i])
d

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [ ]:
#29. Write a Python program to remove spaces from dictionary keys.
s= {'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}
d={}
for i in s:
  d["".join(i.split())]=s[i]
print(d)

{'S001': ['Math', 'Science'], 'S002': ['Math', 'English']}

In [ ]:
#30. Write a Python program to get the top three items in a shop
S={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
for i,j in sorted(S.items(),reverse=True,key=lambda x:x[1])[:3]:
  print(i,j)

item4 55
item1 45.5
item3 41.3

In [ ]:
#31.Write a Python program to get the key, value and item in a dictionary.
d= {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for i,j in d.items():
  print(i,j)

1 10
2 20
3 30
4 40
5 50
6 60

In [ ]:
#32. Write a Python program to print a dictionary line by line
s = {'Aex':{'class':'V',
        'rolld_id':2},
        'Puja':{'class':'V',
        'roll_id':3}}
for i in s:
  print(i)
  for j,k in s[i].items():
    print(j,k)

Aex
class V
rolld_id 2
Puja
class V
roll_id 3